[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Migration note: this file corresponds to the old Param
  # 'entryheaderhtml'
  #%]

[%# You can make the output of this template product-specific by using
  # Template Toolkit IF statements.  The current product name is stored in
  # the 'product' variable.
  #%]

<font color=#800000>This is a place to report bugs in R itself only, <font color=#d00000><b>this is NOT the place to report issues with contributed packages</b></font> - please use <tt>maintainer('package-name')</tt> in R for the correct contact.<br>Do NOT abuse the bug reporting system for questions, please use the mailing lists instead!</font>
<p>
Before reporting [% terms.abug %], <b><u>please make sure you read the <a target=_new  href="http://r.research.att.com/man/R-FAQ.html#R-Bugs">R Bugs section in R FAQ</a></u></b> and
<a href="page.cgi?id=bug-writing.html">
[% terms.bug %] writing guidelines</a>, please look at the list of
<a href="duplicates.cgi">most frequently reported [% terms.bugs %]</a>, and please
<a href="query.cgi">search</a> for the [% terms.bug %].
